/// set the grid properties
///
/// @param $grid-template-rows
/// @param $grid-template-columns
/// @param $grid-gap
@mixin make-css-grid(
  $grid-template-rows: null,
  $grid-template-columns: null,
  $gap: null,
  $grid-template-areas: null
) {
  display: grid;

  @if ($grid-template-rows != null) {
    grid-template-rows: $grid-template-rows;
  }

  @if ($grid-template-columns != null) {
    grid-template-columns: $grid-template-columns;
  }

  @if ($gap != null) {
    gap: $gap;
  }

  @if ($grid-template-areas != null) {
    grid-template-areas: $grid-template-areas;
  }
}
