// variables
//
@import 'app/variables';

// core
//
@import 'core/functions';
@import 'core/mixins';
@import 'core/layout';
@import 'core/reset';

// app
//
@import 'app/default';
@import 'app/header';
@import 'app/section-works';
