@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

.container {
  position: relative;
  padding-top: rem(30);
  overflow: hidden;
  min-height: 100vh;
}

.img-fluid {
  width: 100%;
  height: auto;
}

%content {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: rem(12);
  line-height: rem(15);
  color: $content-color;
  text-align: center;
}
