/* ========================
    SECTION WORKS
======================== */
.works {
  @include make-css-grid(
    repeat(3, auto),
    repeat(3, 1fr),
    rem(15),
    'work-1 work-2 work-2' 'work-3 work-3 work-4' 'work-5 work-6 work-4'
  );

  width: 100%;
  margin-bottom: rem(40);

  @include media-queries-up('md') {
    gap: rem(20);
    margin-bottom: rem(100);
  }
}

.works img {
  background: $img-bg;
  border-radius: rem(12);
}

// generate grid-area for img tag
@for $i from 1 to 6 {
  .work-#{$i} {
    grid-area: work-#{$i};
  }
}
